<!DOCTYPE html>
<html>
  <head>
    <title>Week12</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%  rslt.forEach(function (r) { %>
        <h3>아이디 : <%= r.id %> </h3>
        <h3>닉네임 : <%= r.nickname %> </h3>
    <% }) %>
  </body>
</html>
