<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <
      <h2>로그인 페이지</h2>
      <form method="post" action="/login">
          <table>
          <tr>
          <td><label>ID</label></td>
          <td><input type="text" name="id" /></td>
          </tr>
          <tr>
          <td><label>비밀번호</label></td>
          <td><input type="password" name="pw" /></td>
          </tr>
          </table>
          <input type="submit" value="로그인" />
          </form>
  </body>
</html>
